<h1> Welcome to the Index Page </h1>
<h2> Here is a list of all our artists: </h2>
<ul>
<% @artists.each do |artist| %>
  <li><%= link_to artist.name, artist_path(artist) %><br>
  Song Count: <%= artist.songs.size %> songs
  </li>
  <% end %>


</ul>
